[user]
	name = placeholder
	email = placeholder
[core]
	pager = delta
	fileMode = false

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true	# use n and N to move between diff sections
	light = false 	# enables light background
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colormoved = dimmed-zebra
